<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="header__icon" *ngIf="back" aria-label="Back" (click)="backButton()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span class="header__spacer"></span>
    <span>
      {{title}}
    </span>
    <span class="header__spacer"></span>
    <a mat-icon-button [routerLink]="['/users']" class="header__icon" aria-label="Users">
      <mat-icon>supervisor_account</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
