.spending-form {
  padding: 16px;

  &__form-item {
    width: 100%;
    //padding: 16px 0 16px;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
  }
  &__heading {
    margin: 0;
    font-weight: 700;
  }
}
