<div class="simple-list-item">
  <div class="simple-list-item__row" *ngIf="!editModes">
    <span class="simple-list-item__item-label" *ngIf="!url">{{ item.name }}</span>

    <a class="simple-list-item__item-label" *ngIf="url" [routerLink]="[url.path + '/' + item[url.field]]">{{ item.name }}</a>

    <div class="simple-list-item__item-icons">
      <button mat-icon-button aria-label="Edit" (click)="edit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Delete" (click)="del()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="simple-list-item__row" *ngIf="editModes">
    <mat-form-field class="simple-list-item__form-field">
      <input matInput [(ngModel)]="tmpName">
    </mat-form-field>
    <div class="simple-list-item__item-icons">
      <button mat-icon-button aria-label="Save" (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button aria-label="Cancel" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
</div>
