<mat-list>
  <div *ngIf="!spending.length" class="spending-list__no">No spending are provided</div>

  <mat-list-item *ngFor="let item of spending">
    <div class="spending-list__item" matLine>
      <div class="spending-list__item-left">
        <p></p>
        <p matLine><b>What:</b> {{ item?.name }}</p>
        <p matLine><b>Who:</b> {{ item?.who?.name }}</p>
        <p matLine><b>How much:</b> {{ item?.value }}</p>
        <div matLine>
          <b>With who:</b>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let user of item.withWho">{{ user.name }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class="spending-list__item-right">
        <button mat-icon-button aria-label="Edit" (click)="edit.emit(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Delete" (click)="del.emit(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
