<div class="event">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <app-back-button></app-back-button>
      <app-spreader></app-spreader>
      <span>Event</span>
      <app-spreader></app-spreader>
      <a mat-icon-button [routerLink]="['/users']" class="header__icon" aria-label="Users">
        <mat-icon>supervisor_account</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <h2 class="event__heading">Spending:</h2>

  <div class="mat-elevation-z4">
    <app-spending-list [spending]="spending" ></app-spending-list>
  </div>

  <div class="event__new-btn">
    <button mat-raised-button color="primary" (click)="addSpending()">Add new spending</button>
  </div>

  <h2 class="event__heading">Results:</h2>
  <app-results-list></app-results-list>
</div>
