<div class="users">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <app-back-button></app-back-button>
      <app-spreader></app-spreader>
      <span>Users</span>
      <app-spreader></app-spreader>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--  <app-simple-list
    [items]="users"
    (saveEvent)="saveUser($event)"
    (delEvent)="delUser($event)"
  ></app-simple-list>-->

  <app-simple-list
    [items]="users$ | async"
    (saveEvent)="saveUser($event)"
    (delEvent)="delUser($event)"
  ></app-simple-list>

  <app-add-item (addString)="addUser($event)" [label]="'user'"></app-add-item>
</div>
